In [19]:
import pandas as pd
from ast import literal_eval
import numpy as np
import json

In [50]:

df_val = pd.read_csv(f"/home/fit/optivisionlab/scan-bill/dataset/money_keypoint_landmarks/mb/images/ValLabel.txt", sep="\t", header=None)
df_train = pd.read_csv(f"/home/fit/optivisionlab/scan-bill/dataset/money_keypoint_landmarks/mb/images/TrainLabel.txt", sep="\t", header=None)

In [51]:
classes = []
for i, txt_labels in enumerate(df_val[1].values):
    json_labels = json.loads(str(txt_labels))
    # print(json_labels)
    for json_data in json_labels:
        # print(json_data['key_cls'] , type(json_data['key_cls']))
        if json_data['key_cls'] == 'None':
            json_data['key_cls'] = 'OTHER'
        classes.append(json_data['key_cls'].upper())
    # print(json_labels)
    df_val[1].values[i] = json_labels


for i, txt_labels in enumerate(df_train[1].values):
    json_labels = json.loads(str(txt_labels))
    # print(json_labels)
    for json_data in json_labels:
        # print(json_data['key_cls'] , type(json_data['key_cls']))
        if json_data['key_cls'] == 'None':
            json_data['key_cls'] = 'OTHER'
        classes.append(json_data['key_cls'].upper())
    # print(json_labels)
    df_train[1].values[i] = json_labels

In [56]:
df_train.to_csv(f"/home/fit/optivisionlab/scan-bill/dataset/money_keypoint_landmarks/mb/images/TrainLabel_mbb.txt", header=None, sep="\t", index=False)
df_val.to_csv(f"/home/fit/optivisionlab/scan-bill/dataset/money_keypoint_landmarks/mb/images/ValLabel_mbb.txt", header=None, sep="\t", index=False)

In [53]:
classes = np.unique(classes)
classes
df_txt = pd.DataFrame(classes)
df_txt.to_csv("/home/fit/optivisionlab/scan-bill/dataset/money_keypoint_landmarks/mb/images/classes.txt", header=None, index=False)
df_txt

                      0
0      DEN_TAI_KHOAN_CT
1     DEN_TAI_KHOAN_STK
2     DEN_TAI_KHOAN_TEN
3      HINH_THUC_CHUYEN
4          MA_GIAO_DICH
5              NOI_DUNG
6                 OTHER
7               SO_TIEN
8   TAI_KHOAN_NGUON_STK
9   TAI_KHOAN_NGUON_TEN
10            THOI_GIAN